<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <h1>Ứng dụng Thuật toán</h1>
        <nav>
            <a href="{{ url_for('index') }}">Trang chủ</a>
            <a href="{{ url_for('choose_algorithm') }}">Chọn thuật toán</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="footer-content">
            <p>IS252.P11 <strong>Khai thác dữ liệu</strong>  | <strong>Nhóm:</strong> 9</p>
            <p>Ứng dụng Thuật toán</p>
        </div>
    </footer>
</body>
</html>
